body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.title {
  font-weight: bold;
  font-size: 30px;
  padding: 0.5in;
}
header,
footer {
  line-height: 100px;
  height: 100px;
}
footer {
  margin-top: auto;
  padding: 0.5in;
  font-size: 11px;
  color: rgb(255,255,255);
}
h1 {
  font-weight: bold;
}
