doctype html
html
head
title CodePraise???
link{
href="https://stackpath.bootstrapcdn.com/.../bootstrap.min.css"
rel="stylesheet" integrity="sha384-qVp3sGZJcZdk20BIG6O0Sb0sYRyedif3+Z8bZtQ"
crossorigin="anonymous"
}
== assets(:css)
body
script{
src="https://cdnjs.cloudflare.com/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8Wv"
crossorigin="anonymous"
}
script{
src="https://stackpath.bootstrapcdn.com/.../bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ"
crossorigin="anonymous"
}
/ .container id='html_body'
/ section
/ .row style="vertical-align: middle;"
/ .col-12
/ h1
/ a href="/" CodePraise
/ section
/ == yield
footer
= "CodePraise is made for demonstration purposes.."