---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v12.0/tahrd108?access_token=<FACEBOOK_TOKEN>&fields=id,name,category,picture,followers_count,overall_star_rating,website,location,about,description,ratings,posts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<FACEBOOK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"059ff192b6c370d40fd508c466bc78808e4b8560"'
      Content-Type:
      - application/json
      X-Business-Use-Case-Usage:
      - '{"1061904683926392":[{"type":"pages","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v12.0
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1061904683926392","name":"MAKERA - \u81fa\u5e2b\u5927\u79d1\u6280\u7cfb108\u7d1a\u7562\u696d\u5c08\u984c\u5c55","category":"\u5b78\u9662\u8207\u5927\u5b78","picture":{"data":{"height":50,"is_silhouette":false,"url":"https:\/\/scontent-tpe1-1.xx.fbcdn.net\/v\/t1.6435-1\/cp0\/p50x50\/42894638_1794779310638922_5474668072021262336_n.png?_nc_cat=105&ccb=1-5&_nc_sid=dbb9e7&_nc_ohc=IPmOMEeCzc4AX8XecFp&_nc_ht=scontent-tpe1-1.xx&edm=ABzdmSoEAAAA&oh=16d7c3cb0e7d1f1f89e3c0ef70ebde5f&oe=6196CD92","width":50}},"followers_count":811,"overall_star_rating":5,"website":"https:\/\/ntnutahrd109.wixsite.com\/website","location":{"city":"Taipei","country":"Taiwan","latitude":25.027303405468,"longitude":121.5292596817,"street":"\u5927\u5b89\u5340\u548c\u5e73\u6771\u8def\u4e00\u6bb5162\u865f,
        106 Taipei, Taiwan"},"about":"\u570b\u7acb\u53f0\u7063\u5e2b\u7bc4\u5927\u5b78
        \u79d1\u6280\u61c9\u7528\u8207\u4eba\u529b\u8cc7\u6e90\u767c\u5c55\u5b78\u7cfb109\u5e74\u5ea6\u7562\u696d\u5c55\u3010\u6280\u6558
        CONTINUE\u3011\nNational Taiwan Normal University TAHRD Graduation Exhibition","description":"\u6280\uff0e\u6558
        - \u81fa\u5e2b\u5927\u79d1\u6280\u7cfb109\u7d1a\u7562\u696d\u5c55\n108\u5e7412\u670812-14\u65e5\n\u570b\u7acb\u81fa\u7063\u5e2b\u7bc4\u5927\u5b78\u7d9c\u5408\u5927\u6a13210\u5ba4\u5c55\u89bd\u5ef3","ratings":{"data":[{"created_time":"2018-11-25T12:17:16+0000","recommendation_type":"positive","review_text":"\u90fd\u5f88\u52aa\u529b\u505a\u51fa\u4f86\u7684\uff0c\u5927\u5bb6\u5feb\u4f86\u73a9\u54c8\u54c8\u54c8"}]},"posts":{"data":[{"created_time":"2019-11-02T10:00:38+0000","message":"\u5404\u4f4d\u79d1\u6280\u7cfb\u7684\u5925\u4f34\u3001\u95dc\u5fc3\u79d1\u6280\u7cfb\u5c08\u5c55\u7684\u670b\u53cb\ud83e\udd70\ud83e\udd70\n\u79d1\u6280109\u5c08\u984c\u5c55\u7684\u7c89\u5c08\u642c\u5bb6\u56c9\uff01\uff01\n\u5feb\u9ede\u9032\u4ee5\u4e0b\u9023\u7d50\u6309\u8b9a\u8ffd\u8e64\uff5e\ud83d\udc47\ud83d\udc47\ud83d\udc47\nhttps:\/\/www.facebook.com\/tahrd109continue\/\n\u6b61\u8fce\u6301\u7e8c\u95dc\u6ce8\u6211\u5011\uff01\n\n\u5c08\u5c55\u7684\u76f8\u95dc\u4ecb\u7d39\u53ca\u6d3b\u52d5\u5167\u5bb9\n\u90fd\u9678\u7e8c\u5728\u65b0\u7684\u7c89\u5c08\u516c\u5e03\u54e6\uff5e\n\u656c\u8acb\u671f\u5f85\uff01\uff01\n\u611f\u8b1d\u5927\u5bb6\u7684\u652f\u6301\u548c\u53c3\u8207\uff01\n\n-\n\n\u6280\u6558
        - \u81fa\u5e2b\u5927\u79d1\u6280\u7cfb109\u7d1a\u7562\u696d\u5c08\u984c\u5c55\n\u5c08\u5c55\u65e5\u671f\uff1a108\/12\/12-108\/12\/14\n\u5c08\u5c55\u5730\u9ede\uff1a\u570b\u7acb\u81fa\u7063\u5e2b\u7bc4\u5927\u5b78
        \u7d9c\u5408\u5927\u6a13210\u5c55\u89bd\u5ef3","id":"1061904683926392_2453890341394479"},{"created_time":"2019-10-27T15:47:29+0000","id":"1061904683926392_2441338795982967"},{"created_time":"2019-10-27T11:36:43+0000","id":"1061904683926392_2440853839364796"},{"created_time":"2018-12-18T06:16:44+0000","story":"MAKERA
        - \u81fa\u5e2b\u5927\u79d1\u6280\u7cfb108\u7d1a\u7562\u696d\u5c08\u984c\u5c55\u65b0\u589e\u4e86
        276 \u5f35\u76f8\u7247\u3002","id":"1061904683926392_1904328933017292"},{"created_time":"2018-12-17T04:43:50+0000","story":"MAKERA
        - \u81fa\u5e2b\u5927\u79d1\u6280\u7cfb108\u7d1a\u7562\u696d\u5c08\u984c\u5c55\u65b0\u589e\u4e86
        277 \u5f35\u76f8\u7247\u3002","id":"1061904683926392_1902866463163539"},{"created_time":"2018-12-15T16:10:31+0000","message":"\u5c08\u5c5[...]
- request:
    method: get
    uri: https://graph.facebook.com/v12.0/tahrd108?access_token=<FACEBOOK_TOKEN>&fields=wrongfields
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<FACEBOOK_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":5,"total_cputime":0,"total_time":3}'
      Content-Type:
      - application/json
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Tried accessing nonexisting
        field (wrongfields) on node type (Page)"
      Facebook-Api-Version:
      - v12.0
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#100) Tried accessing nonexisting field (wrongfields)
        on node type (Page)","type":"OAuthException","code":100,"fbtrace_id":"AkfY7EJKNsH-zW4VQbB9SXQ"}}'
  recorded_at: Fri, 22 Oct 2021 12:33:55 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v12.0/wrongname?access_token=<FACEBOOK_TOKEN>&fields=id,name,category,picture,followers_count,overall_star_rating,website,location,about,description,ratings,posts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<FACEBOOK_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":5,"total_cputime":0,"total_time":3}'
      Content-Type:
      - application/json
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID 'wrongname' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v12.0
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Object with ID ''wrongname''
        does not exist, cannot be loaded due to missing permissions, or does not support
        this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"error_subcode":33,"fbtrace_id":"AtHSYdHz_E5CuNpzasVzSjI"}}'
  recorded_at: Fri, 22 Oct 2021 12:33:55 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v12.0/wrongname?access_token=&fields=wrongfields
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - ''
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID 'wrongname' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v12.0
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Object with ID ''wrongname''
        does not exist, cannot be loaded due to missing permissions, or does not support
        this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"error_subcode":33,"fbtrace_id":"A0KA-b4rMnzJG3SmTbzEbQd"}}'
  recorded_at: Fri, 22 Oct 2021 12:33:56 GMT
recorded_with: VCR 6.0.0
