---
http_interactions:
- request:
    method: get
    uri: https://www.udemy.com/api-2.0/courses/3253422
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <UDEMY_TOKEN>
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      X-Udemy-Cache-App-Namespace:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"_class":"course","id":3253422,"title":"The Complete Rubiks Cube Course
        2021: From Zero to Expert!","url":"/course/rubiks-cube-by-vasudev/","is_paid":true,"price":"NT$590","price_detail":{"amount":590.0,"currency":"TWD","price_string":"NT$590","currency_symbol":"NT$"},"price_serve_tracking_id":"G4jDGuNoTN-uphY-qSjqxA","visible_instructors":[{"_class":"user","title":"Vasudev
        Soni","name":"Vasudev","display_name":"Vasudev Soni","job_title":"Business
        Owner, Entrepreneur, Rubik''s Cube Expert","image_50x50":"https://img-c.udemycdn.com/user/50x50/77793156_c4ad.jpg","image_100x100":"https://img-c.udemycdn.com/user/100x100/77793156_c4ad.jpg","initials":"VS","url":"/user/vasudev-soni-3/"}],"image_125_H":"https://img-c.udemycdn.com/course/125_H/3253422_8d68_6.jpg","image_240x135":"https://img-c.udemycdn.com/course/240x135/3253422_8d68_6.jpg","is_practice_test_course":false,"image_480x270":"https://img-c.udemycdn.com/course/480x270/3253422_8d68_6.jpg","published_title":"rubiks-cube-by-vasudev","tracking_id":"1zAZhhYwQOajIpnEMKCxOQ"}'
  recorded_at: Thu, 28 Oct 2021 01:09:09 GMT
[...]
- request:
    method: get
    uri: https://www.udemy.com/api-2.0/courses/wrongid
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <UDEMY_TOKEN>
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      X-Ui-Message:
      - Not found.
      X-Ui-Message-Type:
      - error
    body:
      encoding: ASCII-8BIT
      string: '{"detail":"Not found."}'
  recorded_at: Thu, 28 Oct 2021 01:09:10 GMT
- request:
    method: get
    uri: https://www.udemy.com/api-2.0/courses/8253422/reviews/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <UDEMY_TOKEN>
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Ui-Message:
      - Resource not found.
      X-Ui-Message-Type:
      - error
    body:
      encoding: ASCII-8BIT
      string: '{"detail":"Resource not found."}'
  recorded_at: Thu, 28 Oct 2021 01:56:30 GMT
- request:
    method: get
    uri: https://www.udemy.com/api-2.0/courses/3253422/reviews/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <UDEMY_TOKEN>
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Udemy-Cache-App-Namespace:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"count":3,"next":null,"previous":null,"results":[{"_class":"course_review","id":78626304,"content":"What
        a wonderful course this is. Totally loved the method and the way the instructor
        taught.\nThank you so much, now I can also showoff my cubing skills in front
        of my friends.","rating":5.0,"created":"2021-02-24T10:08:06Z","modified":"2021-02-25T15:08:21Z","user_modified":"2021-02-24T10:09:17Z","user":{"_class":"user","title":"Rohan","name":"Rohan","display_name":"Rohan"}},{"_class":"course_review","id":65683980,"content":"","rating":5.0,"created":"2020-09-06T05:44:55Z","modified":"2020-09-07T07:11:01Z","user_modified":"2020-09-06T05:44:55Z","user":{"_class":"user","title":"Naresh
        Verma","name":"Naresh","display_name":"Naresh Verma"}},{"_class":"course_review","id":65669486,"content":"I
        would say that this is literally the best Rubik''s Cube course on Udemy. Each
        step is explained in detail by the instructor and you won''t face any problem
        at all in between the course.\nI am very happy that I enrolled in this course
        and got to learn the skill.","rating":5.0,"created":"2020-09-06T00:08:44Z","modified":"2020-09-07T07:11:01Z","user_modified":"2020-09-06T00:10:46Z","user":{"_class":"user","title":"rakhi
        verma","name":"rakhi","display_name":"rakhi verma"}}]}'
  recorded_at: Thu, 28 Oct 2021 01:58:56 GMT
[...]
- request:
    method: get
    uri: https://www.udemy.com/api-2.0/courses/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic WrongToken
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Ui-Message:
      - You do not have permission to perform this action.
      X-Ui-Message-Type:
      - error
    body:
      encoding: ASCII-8BIT
      string: '{"detail":"You do not have permission to perform this action."}'
  recorded_at: Thu, 28 Oct 2021 03:27:41 GMT
recorded_with: VCR 6.0.0
